
@font-face {
    font-family: Migra-Extralight;
    src: url(/fonts/Migra-Extralight.ttf);
}
@font-face {
    font-family: Migra-Extrabold;
    src: url(/fonts/Migra-Extrabold.ttf);
}
@font-face {
    font-family: NeueMontreal-Regular;
    src: url(fonts/NeueMontreal-Regular.otf);
}

/**/

/*
html {
    background: #161616;
}
*/

body {
    overflow:hidden
}

header {
    background: #161616;
}

.headerBox {
    position: relative;
    width: 100%;
    height: 70px;
    font-size: 24px;

}

h1 {
    color: #ECECEC;
    position: relative;
    top: 22px;
    left: 10%;
}

h1 a {
    font-family: 'Migra Extralight';
    text-decoration: none;
    color: rgba(236, 236, 236, 1);
}

h1 a:hover {
    color: rgba(236, 236, 236, 0.55);
    transition: 500ms;
}

nav {
    position: relative;
    left: 70%;
    bottom: 4px;
}

nav li {
    font-family: 'NeueMontreal Regular';
    font-size: 20px;
    display: inline;
    margin: 0 0 0 60px;
}

nav a {
    text-decoration: none;
    color: rgba(236, 236, 236, 0.55);
}

nav a:hover {
    color: rgba(236, 236, 236, 1);
    transition: 500ms;
}

nav a::selection {
    color: rgba(236, 236, 236, 1);
    text-decoration: line-through;
}

/* main page css */

.mainTitle {
    font-size: 45px;
    text-align: center;
}

.season {
    font-family: 'NeueMontreal Regular';
}

h2 {
    color: #ECECEC;    
}