@import url("_base.css");
@import url("_reset.css");

/* fonts */

@font-face {
    font-family: Migra-Extralight;
    src: url(../../fonts/Migra-Extralight.ttf);
}
@font-face {
    font-family: Migra-Extrabold;
    src: url(../../fonts/Migra-Extrabold.ttf);
}
@font-face {
    font-family: NeueMontreal-Regular;
    src: url(../../fonts/NeueMontreal-Regular.otf);
}

/* navigation bar */


html {
    background: var(--black);
}


body {
    overflow:hidden
}

header {
    background: var(--black);
}

.headerBox {
    position: relative;
    width: 100%;
    height: 70px;
    font-size: 24px;
}

h1 {
    color: var(--white);
    position: relative;
    top: 22px;
    left: 10%;
}

h1 a {
    font-family: var(--migralight);
    text-decoration: none;
    color: var(--white);
}

h1 a:hover {
    color: var(--fading-white);
    transition: 500ms;
}

nav {
    position: relative;
    left: 70%;
    bottom: 4px;
}

nav li {
    font-family: var(--neueregular);
    font-size: 20px;
    display: inline;
    margin: 0 0 0 60px;
}

nav a {
    text-decoration: none;
    color: var(--fading-white);
}

nav a:hover {
    color: var(--white);
    transition: 500ms;
}

nav a::selection {
    color: var(--white);
    text-decoration: line-through;
}

/* home page */

.mainTitle {
    font-size: 60px;
    position: absolute;
    bottom: 460px;
    left: 610px;
    text-align: center;
    z-index: 1;
}

h2 {
    color: var(--white);    
}

.season {
    font-family: var(--neueregular);
}

.collection__type {
    font-family: var(--migralight);
}
.collection__default {
    font-family: var(--neueregular);
}

.collection__from {
    font-family: var(--neueregular);
}
.collection__dalmina {
    font-family: var(--migralight);
}

.manicule-icon {
    font-family: var(--migralight);
    font-size: 60px;
    position: absolute;
    bottom: 680px;
    left: 120px;
}

.homeImage__1 {
    position: absolute;
    left: 90px;
    bottom: 30px;
}
.homeImage__2 {
    position: absolute;
    left: 830px;
    bottom: 115px;
}
.homeImage__3 {
    position: absolute;
    right: 90px;
    bottom: 95px;
    z-index: -1;
}

.star-icon {
    font-family: var(--migralight);
    font-size: 40px;
    position: absolute;
    bottom: 30px;
    right: 90px;
}