@import url("_base.css");
@import url("_reset.css");

/* fonts */

@font-face {
    font-family: Migra-Extralight;
    src: url(../../fonts/Migra-Extralight.ttf);
}
@font-face {
    font-family: Migra-Extrabold;
    src: url(../../fonts/Migra-Extrabold.ttf);
}
@font-face {
    font-family: NeueMontreal-Regular;
    src: url(../../fonts/NeueMontreal-Regular.otf);
}

/* navigation bar */


html {
    background: var(--black);
}


body {
    overflow:hidden
}

header {
    background: var(--black);
}

.headerBox {
    font-size: 24px;
    height: 70px;
    position: relative;
    width: 100%;
}

h1 {
    color: var(--white);
    left: 10%;
    position: relative;
    top: 22px;
}

h1 a {
    color: var(--white);
    font-family: var(--migralight);
    text-decoration: none;
}

h1 a:hover {
    color: var(--fading-white);
    transition: 500ms;
}

nav {
    bottom: 4px;
    left: 70%;
    position: relative;
}

nav li {
    display: inline;
    font-family: var(--neueregular);
    font-size: 20px;
    margin: 0 0 0 60px;
}

nav a {
    text-decoration: none;
    color: var(--fading-white);
}

nav a:hover {
    color: var(--white);
    transition: 500ms;
}

nav a::selection {
    color: var(--white);
    text-decoration: line-through;
}

/* home page */

.mainTitle {
    bottom: 460px;
    font-size: 60px;
    left: 610px;
    position: absolute;
    text-align: center;
    z-index: 1;
}

h2 {
    color: var(--white);    
}

.season {
    font-family: var(--neueregular);
}

.collection__type, .collection__dalmina {
    font-family: var(--migralight);
}

.collection__default, .collection__from {
    font-family: var(--neueregular);
}

.manicule-icon {
    bottom: 680px;
    left: 120px;
    position: absolute;
}

.homeImage__1 {
    bottom: 30px;
    left: 90px;
    position: absolute;
}
.homeImage__2 {
    bottom: 115px;
    left: 830px;
    position: absolute;
}
.homeImage__3 {
    bottom: 95px;
    position: absolute;
    right: 90px;
    z-index: -1;
}

.star-icon {
    bottom: 30px;
    font-family: var(--migralight);
    font-size: 40px;
    position: absolute;
    right: 90px;
}

.button__preorder {
    background-color: rgba(236, 236, 236, 0.1);
    color: var(--white);
    font-family: var(--migralight);
    font-size: 25px;
    
    border: none;
    border-radius: 50%;
    bottom: 320px;
    height: 80px;
    position: absolute;
    right: 280px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.button__preorder:hover {
    background-color: rgba(236, 236, 236, 0.2);
    color: var(--black);
    transition: .700s;
}